#base
numpy
pandas
matplotlib
pyyaml

ipykernel
jupyter


# Brokers / Data (optional, enable according to your usage)
ibapi
ib-insync
futu-api
python-binance
yfinance
# visualization dashboard
streamlit
plotly
